<ActionBar>
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <Label text="Navigate"></Label>
</ActionBar>

<GridLayout class="page__content" columns="*" rows="3*,10*," #layout>
  <StackLayout col="0" row="0">
    <!-- <Button text="Add random number" (tap)="addToList()"></Button> -->
    <SearchForm (search)="search($event)"></SearchForm>
    <Button text="Favs" (tap)="getFavs()"></Button>
  </StackLayout>

  <StackLayout col="0" row="1" class="text-color" #list>
    <label [text]="this.listHeader"></label>
    <ListView [items]="this.resultados" class="list-group" separatorColor="black" height="100%">
      <ng-template let-item="item" let-i="index">
        <GridLayout rows="*" columns="100px,*,*">
          <Image src="res://icon" height="100px" col="0" row="0"></Image>
          <Label [text]="item" class="list-group-item " col="1" row="0" (longPress)="share(item)"></Label>
          <button text="fav" (tap)="addToFavs(item)" col="2" row="0"></button>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>

</GridLayout>